/* Reset some default browser styles */
body, h1, ul {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
  }
  
  .container {
    background: white;
    padding: 30px 40px;
    border-radius: 15px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
  }
  
  h1 {
    font-size: 30px;
    margin-bottom: 20px;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
  }
  
  .todo-input {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    position: relative;
  }
  
  .todo-input input {
    flex: 1;
    padding: 12px 20px;
    border-radius: 30px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    outline: none;
    transition: all 0.3s ease;
  }
  
  .todo-input input:focus {
    border-color: #9b59b6;
    box-shadow: 0 0 15px rgba(155, 89, 182, 0.5);
  }
  
  .todo-input button {
    padding: 12px 20px;
    margin-left: -50px;
    background-color: #9b59b6;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
  }
  
  .todo-input button:hover {
    background-color: #8e44ad;
    box-shadow: 0 0 15px rgba(155, 89, 182, 0.5);
  }
  
  ul {
    list-style-type: none;
  }
  
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    margin: 10px 0;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  }
  
  li:hover {
    background: #f0f0f0;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  }
  
  li.completed span {
    text-decoration: line-through;
    color: #999;
  }
  
  span {
    cursor: pointer;
    flex: 1;
  }
  
  .delete {
    color: #e74c3c;
    cursor: pointer;
    font-size: 18px;
    transition: all 0.3s ease;
  }
  
  .delete:hover {
    color: #c0392b;
  }
  